
<ion-content>

    <!--Esto es como se hacia antes en Ionic 5 
        <ion-slides>
        <ion-slide>

            <ion-button (click)="scan()" expand="full" fill="outline" >
                Click me
            </ion-button>
            
        </ion-slide>
    </ion-slides> -->


    <!-- Esto es como se hace en Ionic 7 -->
    <swiper-container>

        <swiper-slide>

            <ion-button (click)="scan()" 
                        expand="full" 
                        fill="outline" 
                        size="large" 
                        shape="round" 
                        *ngIf="!inProcess">
                ScanCode
            </ion-button>

            <!-- <p class="ion-text-center" *ngIf="result && !inProcess">{{ result }}</p> -->

            <ion-button class="cancel-buttons"
                        (click)="cancel()" 
                        expand="full" 
                        fill="outline" 
                        size="large" 
                        shape="round"
                        *ngIf="inProcess">
                Cancel
            </ion-button>

        </swiper-slide>

    </swiper-container>

    <div class="scan-box" *ngIf="inProcess">
    </div>

</ion-content>
